@page
@namespace A42.Planning.WebApp.Pages
@using A42.Planning.Domain
@model IndexModel
@{
    ViewData["Title"] = "Planning";
}

<div class="text-center">
    <h1 class="display-4">Planning</h1>
</div>

<form method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="SelectedDate">Date</label>
                <input asp-for="SelectedDate" type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="SelectedTeamId">Team</label>
                <select asp-for="SelectedTeamId" asp-items="Model.Teams" class="form-control">
                    <option value="">-- Select Team --</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary form-control">Search</button>
            </div>
        </div>
    </div>
</form>
<hr />

@if (Model.Planning != null)
{
    <div class="toolbar d-flex gap-2">
        <button onclick="showDialog()">+ Add</button>
        <form method="POST" asp-page-handler="Delete">
            <input type="hidden" name="selectedLocationId" value="@Model.SelectedPlanningItemId" />
            <button type="submit" @(Model.SelectedPlanningItemId.HasValue ? "" : "disabled") class="destructive">- Delete</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Title</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PlanningItem item in Model.Planning.Items)
            {
                <tr>
                    <td>@item.Start.ToString("HH:mm")</td>
                    <td>@item.End.ToString("HH:mm")</td>
                    <td>@item.Title</td>
                    <td>@item.Location.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

<form method="POST" id="dialog" class="dialog" style="display: none;">
    <p><b>Add a new item</b></p>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="New item">
    <label for="SelectedLocationId">Location</label>
    <select asp-for="SelectedLocationId" asp-items="Model.Locations" class="form-control">
        <option value="">-- Select Location --</option>
    </select>
    <label for="start">Start Time</label>
    <input type="time" id="start" name="start" required>
    <label for="end">End Time</label>
    <input type="time" id="end" name="end" required>
    <br />
    <input type="submit" onclick="hideDialog()" value="Add">
</form>

<script>
    function showDialog() {
        document.getElementById("dialog").style.display = "flex";
    }

    function hideDialog() {
        document.getElementById("dialog").style.display = "none";
    }
</script>
