@page
@namespace A42.Planning.WebApp.Pages.Locations
@using A42.Planning.Domain
@model IndexModel
@{
    ViewData["Title"] = "Locations";
}

<div class="text-center">
    <h1 class="display-4">Locations</h1>
</div>

<div class="toolbar d-flex gap-2">
    <button onclick="showDialog()">+ Add</button>
    <form method="POST" asp-page-handler="Delete">
        <input type="hidden" name="selectedLocationId" value="@Model.SelectedLocationId" />
        <button type="submit" @(Model.SelectedLocationId.HasValue ? "" : "disabled") class="destructive">- Delete</button>
    </form>
</div>

<ul class="list-group header">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Name</span>
    </li>
</ul>

@if (Model.Locations != null && Model.Locations.Any())
{
    <ul class="list-group">
        @foreach (Location location in @Model.Locations)
        {
            <li class="list-group-item p-0 overflow-hidden">
                <form method="POST" asp-page-handler="Select" style="margin:0;">
                    <input type="hidden" name="selectedLocationId" value="@location.Id" />
                    <button type="submit"
                            class="list-group-item d-flex justify-content-between align-items-center w-100 text-start"
                            style="border:none; background: @(location.Id == Model.SelectedLocationId ? "#e0e0e0" : "white"); padding: 0.75rem 1.25rem;">
                        <span>@location.Name</span>
                    </button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <p class="w-100 text-center">No locations found.</p>
}

<form method="POST" id="dialog" class="dialog" style="display: none;">
    <div class="d-flex justify-content-between">
        <p><b>Add a new location</b></p>
        <button type="button" class="close-button" onclick="hideDialog()">✖</button>
    </div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="New location">
    <br />
    <input type="submit" onclick="hideDialog()" value="Add">
</form>

<script>
    function showDialog() {
        document.getElementById("dialog").style.display = "flex";
    }

    function hideDialog() {
        document.getElementById("dialog").style.display = "none";
    }
</script>